---
layout: cn
title: Dotide - 时序数据云存储服务
keywords: 时序数据，结构化数据，日志数据，传感数据，监控数据，数据可视化，云存储，大数据，数据库
description: Dotide 是一家时序数据云存储服务的极客创业企业，提供从数据存储、数据处理、数据建模到数据可视化的全流程时序数据服务；通过开放云平台和私有云部署两种方式，Dotide 技术广泛适用于物联网、可穿戴设备、智慧城市、智能家居、智能交通、智慧农业等领域。
---

.brand
  .bg-slide
    = image_tag("slide1-full.jpg")
  .item-brand.hide-for-small
    .row
      .large-12.columns
        %h2= "Dotide，时序数据云存储服务"
        %h5.subheader= "专业存储和处理由传感器、测量表、监控器、服务器等产生的时序数据"
        .brand-button-group
          %a.button.radius.btn-primary{:href => "#features"}
            = "了解更多"
          %a.button.radius.btn-default{:href => 'https://dashboard.dotide.com/login'}
            = "免费试用"
  .item-brand-small.show-for-small
    .row
      .large-12.columns
        %h3= "Dotide，时序数据云存储服务"
        %h5.subheader= "专业存储和处理由传感器、测量表、监控器、服务器等产生的时序数据"
        %a.button.radius.btn-primary{:href => "#features"}
          = "了解更多"
        %a.button.radius.btn-default{:href => 'https://dashboard.dotide.com/login'}
          = "免费试用"
.desc.wrap.gray-wrap
  .row
    .large-4.columns
      .item-desc
        %i.fa.fa-cogs
        %h5
          = "免费实验"
        %p
          = "Dotide 免费提供100条数据流，100万个数据点的公有云服务使用量，支持企业和开发者进行产品研发、接口调试、场景测试等工作。"
    .large-4.columns
      .item-desc
        %i.fa.fa-cloud
        %h5
          = "公有云服务"
        %p
          = "Dotide 时序数据云存储，支持企业和开发者进行按需购买；Dotide 弹性扩展技术也方便客户根据数据量调整部署容量。"
    .large-4.columns
      .item-desc
        %i.fa.fa-users
        %h5
          = "私有云方案"
        %p
          = "Dotide 时序数据私有云部署服务，将 Dotide 时序数据云存储系统部署到用户本地网络中。"
.features#features
  .features-title.row.text-center.wrap
    %h3= "Dotide 关注的特性与目标"
  .row.wrap
    .large-6.columns
      %br
      %h4.text-center
        = "永远不需要删除数据"
      %p
        = "我们致力于做到："
      %ul.no-bullet
        %li
          = "基于时间的高效查询，且查询效率不会因为数据总量的增多而降低。"
        %li
          = "在保证查询效率的基础上，实现低成本的数据存取。是数据的增长不会带来太多成本的增加。"
    .large-6.columns.text-center
      = image_tag("problems-1.png")
  .wrap.gray-wrap
    .row
      .large-6.columns.large-push-6
        %br
        %h4.text-center
          = "简洁的 MapReduce 接口"
        %p
          = "时序数据存储的目的是为了查询和分析。Dotide 提供一套简洁的 MapReduce 接口："
        %ul.no-bullet
          %li
            = "对原始数据的聚合/downsample (提供 builtin 方法 & 允许执行自定义的方法 )"
          %li
            = "对原始数据的统计和分析 (实时计算 & 后台计算)"
      .large-6.columns.large-pull-6.text-center
        = image_tag("problems-2.png")
  .row.wrap
    .large-6.columns
      %br
      %h4.text-center
        = "横向扩展性"
      %p
        = "Dotide 具备良好的水平扩展性，使用 Dotide 云存储服务，可以根据使用量自动扩展。而对于私有云用户，也通过简单的添加节点来实现计算性能的提升和存储空间的提升。整个系统具有较高的节点容错性。"
    .large-6.columns.text-center
      = image_tag("problems-3.png")
  .wrap.gray-wrap
    .row
      .large-6.columns.large-push-6
        %br
        %h4.text-center
          = "以 Dotide 为数据后端的数据可视化工具"
        %p
          = "Dotide 具有基于 token 的灵活的权限控制系统。我们希望能够开发一些可视化工具，可以以 Dotide 作为数据源，直接以图表，地图等各种方式展示相关数据。"
      .large-6.columns.large-pull-6.text-center
        = image_tag("problems-4.png")
.banner.wrap.black-wrap
  .row
    .large-6.columns.text-center
      %h4= "现在就开始免费体验 Dotide 时序数据服务"
    .large-3.columns.details-btn.hide-for-small.text-center
      %a.button.radius.btn-primary.btn-small{:href => "/product/"}= "了解详情"
    .large-5.columns.details-btn-small.show-for-small.text-center
      %a.button.radius.btn-primary.btn-small{:href => "/product/"}= "了解详情"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('nav.top-bar li.nav-home').addClass('current');
    });
