---
layout: cn
title: Dotide - 时序数据技术服务商
keywords: 物联网，时序数据，智慧城市，数据存储，可穿戴设备，数据处理，智能交通，数据建模，智能家居，数据可视化，智能监控，智慧农业，温度监控，气象监测，轨迹日志，地理轨迹，软硬件结合，智能互联网，云存储，大数据，云计算，IOTaaS，数据库，技术服务商
description: Dotide 是一家专注时序数据技术服务的极客创业企业，提供从数据存储、数据处理、数据建模到数据可视化的全流程时序数据服务；通过开放云平台和私有云部署两种方式，Dotide 技术广泛适用于物联网、可穿戴设备、智慧城市、智能家居、智能交通、智慧农业等领域。
---

.brand
  .bg-slide
    = image_tag("slide1-full.jpg")
  .item-brand.hide-for-small
    .row
      .large-12.columns
        %h2= "Dotide，专注时序数据技术服务"
        %h5.subheader= "专业存储和处理由传感器、测量表、监控器、服务器等产生的时序数据"
        .brand-button-group
        %a.button.radius.btn-primary{:href => "#features"}
          = "了解更多"
        %a.button.radius.btn-default{:href => '/login'}
          = "免费试用"
  .item-brand-small.show-for-small
    .row
      .large-12.columns
        %h3= "Dotide，专注时序数据技术服务"
        %h5.subheader= "专业存储和处理由传感器、测量表、监控器、服务器等产生的时序数据"
        %a.button.radius.btn-primary{:href => "#features"}
          = "了解更多"
        %a.button.radius.btn-default{:href => '/login'}
          = "免费试用"
.desc.wrap.gray-wrap
  .row
    .large-4.columns
      .item-desc
        %i.fa.fa-cogs
        %h5
          = "免费实验"
        %p
          = "Dotide 免费提供100条数据流，100万个数据点的使用量，支持企业和开发者进行产品研发、接口调试、场景测试等工作。"
    .large-4.columns
      .item-desc
        %i.fa.fa-cloud
        %h5
          = "按需购买"
        %p
          = "Dotide 时序数据 PaaS 云平台，支持企业和开发者进行按需购买；Dotide 弹性扩展技术也方便客户根据数据量调整部署容量。"
    .large-4.columns
      .item-desc
        %i.fa.fa-users
        %h5
          = "个性化定制"
        %p
          = "Dotide 时序数据私有云部署服务，可以根据客户的特殊需求，为企业和开发者定制个性化的部署和开发方案。"
.features#features
  .features-title.row.text-center.wrap
    %h3= "时序数据开发中的四大难题"
  .row.wrap
    .large-6.columns
      %br
      %h4.text-center
        = "如何支持复合查询"
      %p
        = "时序数据应用开发通常都会遇到针对特定时间段、多种数据的复合查询。要求系统能够按时间间隔分时间段快速返回“平均值、最大值、最小值、加和、数据点个数”等特征值。要做到针对时序数据的有性能保障的复合查询，均需要对“时序数据存取的开发”“时序数据底层的搭建”，做出特别的处理和设计。"
    .large-6.columns.text-center
      = image_tag("problems-1.png")
  .wrap.gray-wrap
    .row
      .large-6.columns.large-push-6
        %br
        %h4.text-center
          = "如何确保存储安全"
        %p
          = "时序数据的应用场景下，虽然没有大量的富媒体数据，但每一个微小的数据点都具有能影响分析的内在含义，这些微小的数据点信息，是时序数据应用的宝贵财富，不得遗失，不得泄露。因此不仅需要确保时序数据的稳定存储，还需要做到多重备份、分布存储，加密传输，并针对不同的人员做好查阅权限的控制。"
      .large-6.columns.large-pull-6.text-center
        = image_tag("problems-2.png")
  .row.wrap
    .large-6.columns
      %br
      %h4.text-center
        = "如何提升开发效率"
      %p
        = "由于时序数据应用需要做到对每一个数据点的精准掌握，才能实现时序数据的有效分析，在后端开发中如何对时序数据进行管理和使用提出了比较高的要求。但是反复编写时序结构和底层逻辑，将耗费开发者大量写代码的时间和反复测试精力，需要对时序数据的底层结构进行模块化处理，需要提供标准化的API结构来提高开发效率。"
    .large-6.columns.text-center
      = image_tag("problems-3.png")
  .wrap.gray-wrap
    .row
      .large-6.columns.large-push-6
        %br
        %h4.text-center
          = "如何掌握数据动态"
        %p
          = "正如前面提到的，时序数据应用的价值在于基于时序数据做出有效的判断和分析，那么，及时、准确、直观地呈现数据的基本分析信息，第一时间掌握数据点的数量和分布，对于时序数据应用来说是一个基本的，也是必须的要求。显然，每一个时序数据应用，都必须考虑如何呈现，以及呈现哪些数据结果，这也是一个时序数据应用开发必须要解决的难题。"
      .large-6.columns.large-pull-6.text-center
        = image_tag("problems-4.png")
.banner.wrap.black-wrap
  .row
    .large-6.columns.text-center
      %h4= "现在就开始免费体验 Dotide 时序数据服务"
    .large-3.columns.details-btn.hide-for-small.text-center
      %a.button.radius.btn-primary.btn-small{:href => "/product/"}= "了解详情"
    .large-5.columns.details-btn-small.show-for-small.text-center
      %a.button.radius.btn-primary.btn-small{:href => "/product/"}= "了解详情"

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $('nav.top-bar li.nav-home').addClass('current');
    });
