---
layout: cn
title: 产品 - Dotide - 时序数据技术服务商
---

.slides.wrap
  %ul{:"data-orbit" => true}
    %li{:"data-orbit-slide" => "headline-1"}
      .row
        .medium-6.large-6.columns.text-left
          %h4
            = "免费实验计划"
          %br
          %p
            = "Dotide 免费提供100条数据流，100万个数据点的使用量，支持企业和开发者进行产品研发、接口调试、场景测试等工作。"
        .medium-1.large-1.columns
        .medium-5.large-5.columns.text-center
          = image_tag("product-1.png")
    %li{:"data-orbit-slide" => "headline-2"}
      .row
        .medium-6.large-6.columns.text-left
          %h4
            = "按需购买公有云"
          %br
          %p
            = "Dotide 时序数据云存储，支持企业和开发者进行按需购买；Dotide 弹性扩展技术也方便客户根据数据量调整部署容量。"
        .medium-1.large-1.columns
        .medium-5.large-5.columns.text-center
          = image_tag("product-2.png")
    %li{:"data-orbit-slide" => "headline-3"}
      .row
        .medium-6.large-6.columns.text-left
          %h4
            = "私有云方案"
          %br
          %p
            = "Dotide 时序数据私有云部署服务，将 Dotide 时序数据云存储系统部署到用户本地网络中。"
        .medium-1.large-1.columns
        .medium-5.large-5.columns.text-center
          = image_tag("product-3.png")
.priceTable.wrap
  .row
    .large-9.columns.large-centered
      .row.collapse
        .large-4.columns.medium-4
          %ul.pricing-table
            %li.title= "免费实验计划"
            %li.price
              %sup= "￥"
              = "0."
              %sup= "0"
              = "/月"
            %li.description
              %strong= "任何开发者均可申请"
            %li.bullet-item
              %span= "Restful API 接口"
            %li.bullet-item
              %span= "MapReduce"
            %li.bullet-item
              %span= "3X备份"
            %li.bullet-item
              %span= "公有云服务"
            %li.bullet-item
              %span= "100个数据流"
            %li.bullet-item
              %span= "100万个数据点"
            %li.bullet-item
              %span= "完全免费"
            %li.cta-button
              %a.button.btn-black{:href => "https://dashboard.dotide.com/login"}
                = "立即申请"
                %i.fa.fa-chevron-right
          / .priceBox
          /   %span.pricePlan
          /   %hr
          /   %span.emphasis
          /   %hr
          /   %span
        .large-4.columns.medium-4
          %ul.pricing-table.spec
            %li.title= "公有云服务"
            %li.price
              %sup= "￥"
              = "99."
              %sup= "00"
              = "/月"
            %li.description
              %strong= "选择公有云付费服务"
            %li.bullet-item
              %span= "Restful API 接口"
            %li.bullet-item
              %span= "MapReduce"
            %li.bullet-item
              %span= "3X备份"
            %li.bullet-item
              %span= "公有云服务"
            %li.bullet-item
              %span= "不限制数据流"
            %li.bullet-item
              %span= "1亿个数据点"
            %li.bullet-item
              %span= "99.00元/月"
            %li.cta-button
              %a.button.btn-black{:href => "mailto:support@dotide.com"}
                = "立即申请"
                %i.fa.fa-chevron-right
        .large-4.columns.medium-4
          %ul.pricing-table
            %li.title= "私有云服务"
            %li.price
              = "联系我们"
            %li.description
              %strong= "选择私有云部署服务"
            %li.bullet-item
              %span= "Restful API 接口"
            %li.bullet-item
              %span= "MapReduce"
            %li.bullet-item
              %span= "自定义集群数量"
            %li.bullet-item
              %span= "私有化部署环境"
            %li.bullet-item
              %span= "不限数据流"
            %li.bullet-item
              %span= "不限数据点"
            %li.bullet-item
              %span= "联系我们"
            %li.cta-button
              %a.button.btn-black{:href => "mailto:support@dotide.com"}
                = "立即联系"
                %i.fa.fa-chevron-right

- content_for :javascripts do
  :javascript
    $('nav.top-bar li.nav-product').addClass('current');
