---
layout: cn
title: 产品 - Dotide - 时序数据服务平台
---

.slides.wrap
  %ul{:"data-orbit" => true}
    %li{:"data-orbit-slide" => "headline-1"}
      .row
        .medium-6.large-6.columns.text-left
          %h3
            = "Dotide 时序数据应用开发虚拟实验室"
          %br
          %p
            = "虚拟实验室是 Dotide 时序数据服务平台，针对企业和开发者在产品研发、 接口调试、场景测试等方面的实际需要，为帮助企业和开发者降低开发门槛，降低开发成本的特别（公益）支持计划。任何具有时序数据应用开发需求的企业和发者均可申请。"
        .medium-1.large-1.columns
        .medium-5.large-5.columns.text-center
          = image_tag("product-1.png")
    %li{:"data-orbit-slide" => "headline-2"}
      .row
        .medium-6.large-6.columns.text-left
          %h3
            = "Dotide 时序数据运维管理弹性购买套餐"
          %br
          %p
            = "随着时序数据应用产品的推向市场，企业和开发者将需要更大的容量来承载用户和数据量的增长，为此，Dotide 推出了时序数据运维管理弹性购买套餐，确保时序数据安全稳定的同时，让企业和开发者及时、直观地掌握数据动态，方便数据管理和验证用户反馈，并支持弹性购买。"
        .medium-1.large-1.columns
        .medium-5.large-5.columns.text-center
          = image_tag("product-2.png")
    %li{:"data-orbit-slide" => "headline-3"}
      .row
        .medium-6.large-6.columns.text-left
          %h3
            = "Dotide 时序数据行业应用综合解决方案"
          %br
          %p
            = "Dotide 时序数据服务平台可以应用于不同的行业场景，包括地理轨迹、穿戴设备、智能交通、智能家居、工业监控、服务器监控等。不同的行业场景，具备不同的时序数据特征，Dotide 服务团队将根据企业和开发者不同的应用需求，从开发、设计、存储、查询、分析、测试、纠错到运维等各个环节，提供个性化的综合解决方案"
        .medium-1.large-1.columns
        .medium-5.large-5.columns.text-center
          = image_tag("product-3.png")
.priceTable.wrap
  .row
    .large-9.columns.large-centered
      .row.collapse
        .large-4.columns.medium-4
          %ul.pricing-table
            %li.title= "虚拟实验室"
            %li.price
              %sup= "￥"
              = "0."
              %sup= "0"
              = "/月"
            %li.description
              %strong= "任何开发者均可申请"
            %li.bullet-item
              %span= "开放 API 接口"
            %li.bullet-item
              %span= "传输加密"
            %li.bullet-item
              %span= "3X备份"
            %li.bullet-item
              %span= "公有云服务"
            %li.bullet-item
              %span= "100个数据流"
            %li.bullet-item
              %span= "100万个数据点"
            %li.bullet-item
              %span= "完全免费"
            %li.cta-button
              %a.button.btn-black{:href => "/login"}
                = "立即申请"
                %i.fa.fa-chevron-right
          / .priceBox
          /   %span.pricePlan
          /   %hr
          /   %span.emphasis
          /   %hr
          /   %span
        .large-4.columns.medium-4
          %ul.pricing-table.spec
            %li.title= "公有云服务"
            %li.price
              %sup= "￥"
              = "99."
              %sup= "99"
              = "/月"
            %li.description
              %strong= "选择公有云付费服务"
            %li.bullet-item
              %span= "开放 API 接口"
            %li.bullet-item
              %span= "传输加密"
            %li.bullet-item
              %span= "3X备份"
            %li.bullet-item
              %span= "公有云服务"
            %li.bullet-item
              %span= "不限制数据流"
            %li.bullet-item
              %span= "1亿个数据点"
            %li.bullet-item
              %span= "99.99元/月"
            %li.cta-button
              %a.button.btn-black{:href => "mailto:support@dotide.com"}
                = "立即申请"
                %i.fa.fa-chevron-right
        .large-4.columns.medium-4
          %ul.pricing-table
            %li.title= "私有云服务"
            %li.price
              = "方案报价"
            %li.description
              %strong= "选择私有云部署服务"
            %li.bullet-item
              %span= "云架构独立部署"
            %li.bullet-item
              %span= "数据库系统独立部署"
            %li.bullet-item
              %span= "可视化定制"
            %li.bullet-item
              %span= "独立服务器"
            %li.bullet-item
              %span= "不限数据流"
            %li.bullet-item
              %span= "不限数据点"
            %li.bullet-item
              %span= "方案报价"
            %li.cta-button
              %a.button.btn-black{:href => "mailto:support@dotide.com"}
                = "立即联系"
                %i.fa.fa-chevron-right

- content_for :javascripts do
  :javascript
    $('nav.top-bar li.nav-product').addClass('current');
