%footer.footer

  .footerBottom
    .container
      .row
        .col-lg-6
          %h4.headerFooter= "联系我们"
          .contactFooter
            %p= "江苏南京浦口区万寿路15号"
            %p= "211800"
            %br
            %p= "support@dotide.com"
        .col-lg-6
          %h4.headerFooter.light= "关于Dotide"
          %p.aboutUs
            = "Dotide是一个智能物联网领域的时序数据服务平台，专注为智慧城市、智能交通、智能医疗、智能农业、智能家居及可穿戴设备等领域提供时序数据服务和个性化的解决方案。"
            %a{href: 'https://dotide.com'}
