%footer.footer
  .blackBg
    .container
      .row
        .col-lg-12
          %h3.pull-left= "免费计划，体验套餐，定制方案"
          %a.btn.btn-primary.btn-small{:href => "#"}= "了解详情"
  .footerBottom
    .container
      .row
        .col-lg-4
          %h3.headerFooter= "联系我们"
          .contactFooter
            %p= "32 Christe Way"
            %p= "Salem MA 01970"
            %br
            %p= "978 744 1707"
            %p= "contact@invision.com"
        .col-lg-4
          %h3.headerFooter= "最新动态"
          %ul.news
            %li
              %h5
                %a{:href => "#"}
                  = "Cras consectour eget"
                  %span= "13 March 2014"
              %p= "Malesuada fames ac turpis egestas. In elit pellentesque..."
            %li
              %h5
                %a{:href => "#"}
                  = "Cras consectour eget"
                  %span= "13 March 2014"
              %p= "Malesuada fames ac turpis egestas. In elit pellentesque..."
        .col-lg-4
          %h3.headerFooter.light= "关于Dotide"
          %p.aboutUs
            = "Ras lacus eros, consectetur eget bibendum ac, malesuada vitae felis. Aenean posuere ipsum ut tellus consequat commodo. Nunc gravida ipsum orci, at porttitor velit. Nam ultricies blandit purus."
