%nav.tab-bar.show-for-small
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %a{:href => "/"}
      %h1= 'DOTIDE'
%aside.left-off-canvas-menu.show-for-small
  %ul.off-canvas-list
    %li
      %a.reverse{href: "/"}= '首页'
    %li
      %a.reverse{href: "http://developer.dotide.com/"}= '开发文档'
    %li
      %a.reverse{href: "http://blog.dotide.com/"}= "博客"
    %li
      %a.reverse{href: "/product/"}= '产品'
    %li
      %a.reverse{href: "/about/"}= '关于'
    %li
      %a.reverse{href: "https://dashboard.dotide.com"}= '进入控制台'
    / %li
    /   %a.reverse{href: "/locale?lang=en"}= 'English'
%a.exit-off-canvas
.row
  %nav.top-bar.hide-for-small.large-12.columns{:'data-topbar' => true}
    %ul.title-area
      %li.name
        %h1
          %a.default{href: '/'}
            = image_tag("logo.png")
    %section.top-bar-section
      %ul.right
        %li.divider
        %li.nav-home
          %a.reverse{href: "/"}= '首页'
        %li
          %a.reverse{href: "http://developer.dotide.com/"}= '开发文档'
        %li
          %a.reverse{href: "http://blog.dotide.com/cn/"}= "博客"
        %li.nav-product
          %a.reverse{href: "/product/"}= '产品'
        %li.nav-about
          %a.reverse{href: "/about/"}= '关于'
        %li
          %a.reverse{href: "https://dashboard.dotide.com"}= '进入控制台'
        / %li
        /   %a.reverse{href: "/locale?lang=en"}= 'English'
