.nav
  %nav.navbar.navbar-default{role: "navigation"}
    .container
      .top-nav.hidden-xs
        .navbar-header
          %a.navbar-brand{:href => "/"}
            = image_tag("logo.png")
        %ul.nav.navbar-nav.navbar-right
          %li.nav-home
            %a{:href => "/"}= "首页"
          %li
            %a{:href => "http://developer.dotide.com/"}= "开发文档"
          / %li
          /   %a{:href => "http://blog.dotide.com/"}= "博客"
          %li.nav-product
            %a{:href => "/product/"}= "产品"
          %li.nav-about
            %a{:href => "/about/"}= "关于"
          %li
            %a{:href => "/dashboard/"}= "进入控制台"
      .top-tab.visible-xs
        .navbar-header
          %span.navbar-brand.fa.fa-bars
        .navbar-nav#navtab.collapse
          %ul
            %li.nav-home
              %a.reverse{:href => "/"}= "首页"
            %li
              %a.reverse{:href => "http://developer.dotide.com/"}= "开发文档"
            / %li
            /   %a.reverse{:href => "http://blog.dotide.com/"}= "博客"
            %li.nav-product
              %a.reverse{:href => "/product/"}= "产品"
            %li.nav-about
              %a.reverse{:href => "/about/"}= "关于"
            %li
              %a.reverse{:href => "/dashboard/"}= "进入控制台"
  .icons-nav
    .container
      %a.reverse{:href => "https://www.facebook.com/dotidehq"}
        %span.fa.fa-facebook
      %a.reverse{:href => "https://plus.google.com/113897022027241743220"}
        %span.fa.fa-google-plus
      %a.reverse{:href => "https://twitter.com/dotidehq"}
        %span.fa.fa-twitter
      %a.reverse{:href => "https://github.com/dotide"}
        %span.fa.fa-github
      %a.reverse{:href => "http://weibo.com/dotide"}
        %span.fa.fa-weibo
