.nav
  %nav.navbar.navbar-default{role: "navigation"}
    .container
      .top-nav.hidden-xs
        .navbar-header
          %a.navbar-brand{:href => "/cn/index.html"}= "Dotide"
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{:href => "/cn/"}= "首页"
          %li
            %a{:href => "http://developer.dotide.com/cn/"}= "开发文档"
          %li
            %a{:href => "http://blog.dotide.com/cn/"}= "博客"
          %li
            %a{:href => "/cn/price.html"}= "定价"
          %li
            %a{:href => "/cn/about.html"}= "关于"
          %li
            %a{:href => "/dashboard"}= "进入控制台"
      .top-tab.visible-xs
        .navbar-header
          %span.navbar-brand.fa.fa-bars
        .navbar-nav#navtab.collapse
          %ul
            %li
              %a.reverse{:href => "/cn/"}= "首页"
            %li
              %a.reverse{:href => "http://developer.dotide.com/cn/"}= "开发文档"
            %li
              %a.reverse{:href => "http://blog.dotide.com/cn/"}= "博客"
            %li
              %a.reverse{:href => "/cn/price.html"}= "定价"
            %li
              %a.reverse{:href => "/cn/about.html"}= "关于"
            %li
              %a.reverse{:href => "/dashboard"}= "进入控制台"
  .icons-nav
    .container
      %a.reverse{:href => "https://www.facebook.com/dotidehq"}
        %span.fa.fa-facebook
      %a.reverse{:href => "https://plus.google.com/113897022027241743220"}
        %span.fa.fa-google-plus
      %a.reverse{:href => "https://twitter.com/dotidehq"}
        %span.fa.fa-twitter
      %a.reverse{:href => "https://github.com/dotide"}
        %span.fa.fa-github
      %a.reverse{:href => "http://weibo.com/dotide"}
        %span.fa.fa-weibo

- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('.navbar-brand').click(function(){
        $('#navtab').collapse('toggle');
        });
      });
    $('.navbar-brand').collapse()
