---
title: 关于我们
---

.titleBox
  .container
    .row
      .col-lg-9
        %h3= "关于我们"
        %p= "Dotide是一个极客创业团队，我们专注于解决时序数据的存储和分析问题。在这个云计算和物联网的时代，将有大量的传感器、测量表、监控器、服务器在持续运行，并将产生海量的时序数据。通过对时序数据的智能化分析，物联网和云计算才能够真正掌握设备、身体、房屋、汽车、轮船等一切移动和不移动设施的实时状况，并根据历史轨迹的分析，预测将来的趋势。因此，Dotide的使命是让时序数据运营更简单，从而让人们真正进入智能物联网的时代。"
      .col-lg-3
        %a.btn.btn-default.pull-right{:href => "#about"}= "了解更多"
.whiteBox
  .container
    .row
      .col-lg-10
        %ul.nav.nav-tabs
          %li.active
            %a{:href => "#about", :"data-toggle" => "tab"}
              %h5
                %span
                  = "关于"
          %li
            %a{:href => "#contact", :"data-toggle" => "tab"}
              %h5
                %span
                  = "联系"
      .col-lg-2.hidden-xs
        .homeSign.pull-right
          %a.reverse{:href => "/cn/"}
            %i.fa.fa-home
  .tab-content
    .about.tab-pane.active#about
      .container
        .office
          %h4= '我们在这里'
          .row
            .col-lg-3
              = image_tag('office-1.jpg')
              %h5= '创新的工作环境'
            .col-lg-3
              = image_tag('office-2.jpg')
              %h5= '丰富的小零食'
            .col-lg-3
              = image_tag('office-3.jpg')
              %h5= '健康的生活'
            .col-lg-3
              = image_tag('office-4.jpg')
              %h5= '休闲和娱乐'
          .row
            .col-lg-3
              = image_tag('office-5.jpg')
              %h5= '方便的会议讨论'
            .col-lg-3
              = image_tag('office-6.jpg')
              %h5= '创业文化'
            .col-lg-3
              = image_tag('office-7.jpg')
              %h5= '开放的工作室1'
            .col-lg-3
              = image_tag('office-8.jpg')
              %h5= '开放的工作室2'
        .office
          %h4= "成员"
          .row
            .col-lg-3
              = image_tag("member-mic.jpg")
              %h5= '丁彦 (CEO)'
            .col-lg-3
              = image_tag("member-wd.jpg")
              %h5= '王迪 (CTO)'
            .col-lg-3
              = image_tag("member-miles.jpg")
              %h5= '麦熙 (COO)'
            .col-lg-3
              = image_tag("member-wx.png")
              %h5= '王欣 (Front-End Engineer)'
    .contact.tab-pane#contact
      .container
        .map
          #map
      .contactBox
        .container
          .row
            .col-lg-5
              %h5.headerSmall
                %span
                  %i.fa.fa-compass
                  = "访问我们"
              %p
                %strong= "南京自由风暴网络科技有限公司."
                %br
                = "江苏省南京市浦口区万寿路15号"
                %br
                %a{href: 'http://www.crabxlab.com'}= "螃蟹实验室"
                %br
                %br
            .col-lg-1
            .col-lg-6
              %h5.headerSmall
                %span
                  %i.fa.fa-phone
                  = "联系"
              %p
                %span
                  %a.reverse{:href => "mailto:support@dotide.com"}= "support@dotide.com"
- content_for :javascripts do
  %script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyD1Mp7cWzjLYtiH9BzZhnRZtlL5RRO4V0A&sensor=true"}
  :javascript
    function initialize() {
      latlng = new google.maps.LatLng(32.0765, 118.6676 );
      var mapOptions = {
        center: latlng,
        zoom: 13
      };
      var map = new google.maps.Map(document.getElementById("map"),
          mapOptions);
      var marker = new google.maps.Marker({
        position: latlng,
        title:"南京工业大学科技产业园"
      });
      marker.setMap(map);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
