---
title: 定价
---

.desc.carousel.slide.brand#carousel-price{:"data-ride" => "carousel"}
  .carousel-inner
    .item.active
      .container
        .row
          .col-lg-6
            %h3
              = "Dotide 时序数据应用开发免费实验计划"
            %br
            %p
              = "免费实验计划是Dotide 时序数据服务平台，针对企业和开发者在产品研发、 接口调试、场景测试等方面的实际需要，为帮助企业和开发者降低开发门槛，降 低开发成本的特别（公益）支持计划。任何具有时序数据应用开发需求的企业和 发者均可申请。"
          .col-lg-6
            = image_tag("photo3.png")
    .item
      .container
        .row
          .col-lg-6
            %h3
              = "Dotide 时序数据运维管理弹性购买套餐"
            %br
            %p
              = "随着时序数据应用产品的推向市场，企业和开发者将需要更大的容量来承载 用户和数据量的增长，为此，Dotide 推出了时序数据运维管理弹性购买套餐， 确保时序数据安全稳定的同时，让企业和开发者及时、直观地掌握数据动态，方 便数据管理和验证用户反馈，并支持弹性购买。"
          .col-lg-6
            = image_tag("photo3.png")
    .item
      .container
        .row
          .col-lg-6
            %h3
              = "Dotide 时序数据行业应用综合解决方案"
            %br
            %p
              = "Dotide 时序数据服务平台可以应用于不同的行业场景，包括地理轨迹、穿戴设 备、智能交通、智能家居、工业监控、服务器监控等。不同的行业场景，具备不 同的时序数据特征，Dotide 服务团队将根据企业和开发者不同的应用需求，从 开发、设计、存储、查询、分析、测试、纠错到运维等各个环节，提供个性化的 综合解决方案"
          .col-lg-6
            = image_tag("photo3.png")
  %a.left.carousel-control{:href => "#carousel-price", :"data-slide" => "prev"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{:href => "#carousel-price", :"data-slide" => "next"}
    %span.glyphicon.glyphicon-chevron-right
.priceTable
  .container
    .row
      .col-lg-8.col-lg-offset-2
        .priceBox
          %span.pricePlan
            = "BASE"
          %hr
          %span.emphasis
            %sup= "$"
            = "19."
            %sup= "99"
          %hr
          %span
            %strong= "Lorem ipsum dolor sit amet"
          %hr
          %span= "Mauris elit massa iaculis"
          %hr
          %span= "Suscipit mauris venenatis"
          %hr
          %span= "Nam tincidunt tellus"
          %hr
          %span= "Vivamus dapibus felis lacus"
          %hr
          %span.emphasis-2
            %a.btn.btn-black{:href => "#"}
              = "Get this one"
              %i.fa.fa-chevron-right
        .priceBox.spec
          %span.pricePlan
            = "BASE"
          %hr
          %span.emphasis
            %sup= "$"
            = "19."
            %sup= "99"
          %hr
          %span
            %strong= "Lorem ipsum dolor sit amet"
          %hr
          %span= "Mauris elit massa iaculis"
          %hr
          %span= "Suscipit mauris venenatis"
          %hr
          %span= "Nam tincidunt tellus"
          %hr
          %span= "Vivamus dapibus felis lacus"
          %hr
          %span.emphasis-2
            %a.btn.btn-black{:href => "#"}
              = "Get this one"
              %i.fa.fa-chevron-right
        .priceBox
          %span.pricePlan
            = "BASE"
          %hr
          %span.emphasis
            %sup= "$"
            = "19."
            %sup= "99"
          %hr
          %span
            %strong= "Lorem ipsum dolor sit amet"
          %hr
          %span= "Mauris elit massa iaculis"
          %hr
          %span= "Suscipit mauris venenatis"
          %hr
          %span= "Nam tincidunt tellus"
          %hr
          %span= "Vivamus dapibus felis lacus"
          %hr
          %span.emphasis-2
            %a.btn.btn-black{:href => "#"}
              = "Get this one"
              %i.fa.fa-chevron-right
