---
title: 产品
---

.desc.carousel.slide.brand#carousel-price{:"data-ride" => "carousel"}
  .carousel-inner
    .item.active
      .container
        .row
          .col-lg-6
            %h3
              = "Dotide 时序数据应用开发虚拟实验室"
            %br
            %p
              = "虚拟实验室是 Dotide 时序数据服务平台，针对企业和开发者在产品研发、 接口调试、场景测试等方面的实际需要，为帮助企业和开发者降低开发门槛，降低开发成本的特别（公益）支持计划。任何具有时序数据应用开发需求的企业和发者均可申请。"
          .col-lg-1
          .col-lg-5
            = image_tag("photo3.png")
    .item
      .container
        .row
          .col-lg-6
            %h3
              = "Dotide 时序数据运维管理弹性购买套餐"
            %br
            %p
              = "随着时序数据应用产品的推向市场，企业和开发者将需要更大的容量来承载用户和数据量的增长，为此，Dotide 推出了时序数据运维管理弹性购买套餐，确保时序数据安全稳定的同时，让企业和开发者及时、直观地掌握数据动态，方 便数据管理和验证用户反馈，并支持弹性购买。"
          .col-lg-1
          .col-lg-5
            = image_tag("photo3.png")
    .item
      .container
        .row
          .col-lg-6
            %h3
              = "Dotide 时序数据行业应用综合解决方案"
            %br
            %p
              = "Dotide 时序数据服务平台可以应用于不同的行业场景，包括地理轨迹、穿戴设备、智能交通、智能家居、工业监控、服务器监控等。不同的行业场景，具备不 同的时序数据特征，Dotide 服务团队将根据企业和开发者不同的应用需求，从开发、设计、存储、查询、分析、测试、纠错到运维等各个环节，提供个性化的综合解决方案"
          .col-lg-1
          .col-lg-5
            = image_tag("photo3.png")
  %a.left.carousel-control{:href => "#carousel-price", :"data-slide" => "prev"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{:href => "#carousel-price", :"data-slide" => "next"}
    %span.glyphicon.glyphicon-chevron-right
.priceTable
  .container
    .row
      .col-lg-8.col-lg-offset-2
        .priceBox
          %span.pricePlan
            = "虚拟实验室"
          %hr
          %span.emphasis
            %sup= "￥"
            = "0."
            %sup= "0"
            = "/月"
          %hr
          %span
            %strong= "任何开发者均可申请"
          %hr
          %span= "开放API接口"
          %hr
          %span= "传输加密"
          %hr
          %span= "3X备份"
          %hr
          %span= "公有云服务"
          %hr
          %span= "100个数据流"
          %hr
          %span= "100万个数据点"
          %hr
          %span
            %strong= "完全免费"
          %hr
          %span.emphasis-2
            %a.btn.btn-black{:href => "#"}
              = "立即申请"
              %i.fa.fa-chevron-right
        .priceBox.spec
          %span.pricePlan
            = "公有云服务"
          %hr
          %span.emphasis
            %sup= "￥"
            = "99."
            %sup= "99"
            = "/月"
          %hr
          %span
            %strong= "选择公有云付费服务"
          %hr
          %span= "开放API接口"
          %hr
          %span= "传输加密"
          %hr
          %span= "3X备份"
          %hr
          %span= "公有云服务"
          %hr
          %span= "不限制数据流"
          %hr
          %span= "1亿个数据点"
          %hr
          %span= "99.99元/月"
          %hr
          %span.emphasis-2
            %a.btn.btn-black{:href => "#"}
              = "立即申请"
              %i.fa.fa-chevron-right
        .priceBox
          %span.pricePlan
            = "私有云服务"
          %hr
          %span.emphasis
            = "方案报价"
          %hr
          %span
            %strong= "选择私有云部署服务"
          %hr
          %span= "云架构独立部署"
          %hr
          %span= "数据库系统独立部署"
          %hr
          %span= "可视化定制"
          %hr
          %span= "独立服务器"
          %hr
          %span= "高容量数据流和数据点"
          %hr
          %span= "方案报价"
          %hr
          %span.emphasis-2
            %a.btn.btn-black{:href => "#"}
              = "Get this one"
              %i.fa.fa-chevron-right
